@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --white-alpha-40: rgba(255,255,255,0.40);
    --white-alpha-25: rgba(255,255,255,0.25);
    --backdrope-filter-blur: blur(5px);
    --pink: #e4bace;
    --box-shadow: 0 0.5rem 1 rem rgba(0,0,0,0.1);
}
h1, h2, h3 {
    font-family: 'Dancing Script', cursive;
}
body{
    font-family: 'Playfair Display', serif;
}
.message  {
    text-align:center;
    margin:2rem auto;
    font-size: 20px;
    background-color: var(--pink);
    color:#fff;
    width: 40vw;
    padding:.5rem;
    border-radius: 5px;
}
.message i{
    cursor:pointer;
    float: right;
}
a{
    text-decoration:none;
}
a:hover{
    color: var(--white-alpha-40);
    font-weight: 700;
}
.btn-icon{
    border:none;
    background: transparent;
}

.form-container{
    background-image: url('./assets/img/bg-auth.png');
    background-size:cover;
    background-position: center;
    width: 100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.form-container form{
    width:50vw;
    height: auto;
    margin:0 auto;
    padding: 2rem;
    background:var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrope-filter-blur);
}
.form-container form h3{
    font-size:35px;
    text-align:center;
}
form input,
textarea {
    width:100%;
    background:var(--white-alpha-25);
    padding: .7rem 1.4rem;
    outline:none;
    border:none;
    border-radius: 5px;
    margin:0.5rem 0;
    padding-left: .5rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.40);
    font-size:14px;
}
form .btn{
    cursor:pointer;
    background:#545bba;
    color:#fff;
    text-transform: uppercase;
}
form .btn:hover{
    background: transparent;
    border: 2px solid var(--pink);
    color:var(--pink);
    font-weight: 700;
}
.text-comment{
    display:flex;
    justify-content: end;
    font-size:12px;
}
.btn-add{
    padding:5px;
    background-color: var(--pink);
    color:white;
    border:none;
    border-radius: 10px;
    margin-top:3%;
    float:right;
    margin-right: 1%;
}
.btn-add:hover{
    opacity:0.8;
}
.navbar{
    background-color: var(--pink);
}
.navbar .logo{
    color:white; 
    text-shadow:2px 2px black;
    font-weight:bold;
    letter-spacing:1px;
    margin-right:50px;
    padding-left: 20px;
}
.navbar .logo:hover{
    color:white;
}

.navbar .nav-link{
    color:white;
    margin-left:30px;
}
.user-box i{
    color:white;
}
.user-box .fa-cart-shopping{
    color:#a3e635;
    text-shadow:3px 2px black;
}
.user-box .fa-heart{
    color:#be123c;
    text-shadow:2px 2px black;
}
.user-box .fa-user{
    color:gray;
    text-shadow:1px 1px black;
}
.user-box a{
    text-decoration: none;
    color:gray;
}
.user-box a:hover{
    color:var(--pink);
}
.user-box{
    display: flex;
    justify-content:center;
    align-items:center;
}

.user-box p  {
    margin:5px;
    color:var(--pink);
    font-size: 12px;
}
.user-box p span{
    color:gray;
}
.user-box .logout .btn-logout{
    border:none;
    padding:2px 3px;
    border-radius: 10px;
    font-size: 12px;
    background-color: #e7e5e4;
    transition: opacity 0.3s ease;
}
.user-box .logout .btn-logout:hover{
    opacity:0.8;
}
.user-box .dropdown-item:hover{
    background-color: transparent;
}

.homepage, .products, .about, .gallery, .contact, .wishlist{
  background-image: url('./assets/img/bg.png');
  background-size:cover;
  background-position: center;
  width: 100%;
  min-height:100vh;
  display:flex;
  justify-content:center;
  z-index:-1;
}

.homepage{
    min-height:2000px;
    background:var(--white-alpha-25);
    backdrop-filter: var(--backdrope-filter-blur);
}


.title {
    font-family:'Playfair Display', serif;;
    color:var(--pink);
    text-shadow: 2px 2px black;
    letter-spacing:1px;
}
.carousel-item{
    object-fit:cover;
}
.carousel-item img{
    height:550px;
}

.slider-chevron{
    background-color: var(--pink);
    border-radius:50%;
}
.mini-col{
    background: url('./assets/img/slider/mini-slider.png');
    background-size: cover;
    background-position: center;
    width:100%;
    height: 300px;
    position:relative;
    margin-bottom:1rem;
}
.mini-col .detail{
    position:absolute;
    bottom:30%;
    left:10%;
}
.mini-col h1{
    margin-bottom: 1rem;
    font-size: 28px;
}
.mini-col span{
    font-size: 40px;
}

.mini-col a{
    text-decoration:none;
    font-size:18px;
}
.mini-col a:hover{
    color:gray;
}
.mini-col:nth-child(1){
    background: url('./assets/img/slider/mini-slider.png');
}
.mini-col:nth-child(2){
    background: url('./assets/img/slider/mini-slider-3.jpeg');
}
.mini-col:nth-child(3){
    background: url('./assets/img/slider/mini-slider-2.png');
}
.card{
    padding:15px;
    width:250px;
    height:auto;
    cursor:pointer;
}
.card img{
    border-radius: 10px;
    height:300px;
    object-fit:cover;
}
.card h3{
    font-size:20px;
    margin: 5px 0 5px 0;
}
.card p{
    text-align: right;
    color:var(--pink);
}
 .card .product-detail{
    max-height: 2em;
    overflow: hidden;
}
.action-icons{
    display:flex;
    justify-content: space-between;
    cursor:pointer;  
}

.card-2{
    padding:15px;
    width:200px;
    height:auto;
    cursor:pointer;
}
.card-2 img{
    border-radius: 10px;
    height:150px;
    object-fit:cover;
    border-radius:50%;
}
.card-2 h3{
    font-size:20px;
    margin: 5px 0 5px 0;
    text-align:center;
}
.contact{
    padding-top: 10%;
}
.contact .form{
    border-radius: 10px;
    
}
 .contact-info{
    display:column;
    text-align: center;
    padding-top:20%;
}

.news-bg{
    background-image: url('./assets/img/newsletter.jpeg');
    background-size:cover;
    background-position: center;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content:center;
}
.text-news{
    font-size: 12px;
    text-align: center;
    font-style:italic;
    color: var(--pink);
}

footer{
    background-color: var(--pink);
    max-width: 100%;
}
.footer{
    width:100%;
    margin: 0 auto;
}
footer a, footer li{
    text-decoration:none;
    color:var(--white-alpha-40);
}

footer .copy{
    font-size:12px;
}


.image-detail{
    width: 80%;
}
.action-icons-detail{
    display: flex;
    align-items: center;
    justify-content: center;
}
.action-icons-detail button{
    margin: 30px;
}
.action-icons-detail button:nth-child(1){
    border:1px solid red;
    padding:10px 15px;
    border-radius:10px;
}
.action-icons-detail button:nth-child(1):hover{
    background: red;
    color:white;
}
.action-icons-detail button:nth-child(2){
   background:green;
   color:white;
    padding:10px 15px;
    border-radius:10px;
}
.action-icons-detail button .fa-cart-shopping {
    color:white !important;
 }

.action-icons-detail button:nth-child(2):hover{
    opacity:0.8;
}
.products .cat-p{
    font-size: 12px;
    margin-top: 10%;
}
.products .cat-span{
    border: 1px solid lightgray;
    padding:5px;
    border-radius:5px;
    margin-left: 10%;
}
.products .price-p{
    margin-top: 10%;
}
.products .price-span{
    font-size:20px;
    margin-left: 10%;
    color:var(--pink);
}
.products hr{
    margin-top:20%;
}
.products .title-detail{
    font-size: 40px;
}
.products .inp-q{
    width:50px;
    
}
.products .q-span {
    margin-left: 10%;
}

.wishlist-price p{
    color: gray;
    text-align:center;
}
.wishlist-total{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:20px;
}
.wishlist-total button:nth-child(1){
    border:none;
    background:#38bdf8;
    padding:5px 10px;
    border-radius:5px;
    margin:20px;
}
.wishlist-total button:nth-child(2){
    border:none;
    background:red;
    padding:5px 10px;
    border-radius:5px;
    margin:20px;
}

.wishlist-total a{
    text-decoration:none;
    color: white;
}
.cart .cart-img{
    height:100px;
    width: 100px;
    object-fit: cover;
}
.cart .inp-q{
    width:40px;
    height:20px;
}
.cart .update_quantity_btn{
    border:none;
    background:transparent;
}

 .banner-bg{
        background-image: url('./assets/img/section.png');
        background-size:cover;
        background-position: center;
        width: 100%;
        height:250px;
        display:flex;
        align-items: center;
        justify-content:center;
    }
    .about .img-about{
        background-size:cover;
        background-position: center;
        width: 450px;
        height:250px;
        padding:50px;
    }
    .about .img-about img{
        width: 100%;
        height:100%;
        border:5px solid var(--pink);
        border-radius:10px;
    }
 .carousel-inner{
    height:500px;
 }
    .reviews .review-img{
        position: relative;
        width: 200px; 
        height: 250px; 
        margin: 0 auto; 
    }
    .reviews .review-img img{
        margin-top:30px;
        border-radius: 50%;
        height: 150px; 
        object-fit: cover;
    }
   .review-img h5{
        padding: 10px;
        margin-top:30px;
        width:200px;
    }
    .review-img p{
        width:400px;
        margin-left:-100px;
    }
    .about .fl-card{
        border:5px solid var(--pink);
        height:auto;
        display:column;

    }
    .about .fl-card img{
        height:350px;
        width:100%;
        object-fit:cover;
    }
    .checkout{
        height: 100vh;
    }
    .checkout .display-order{
        box-shadow: var(--box-shadow);
        width:50vw;
        margin: 30px auto;
        text-align:center;
        line-height:2;
    }
    .checkout .display-order span{
        display:inline-block;
        background:#ececec;
        padding:0.4rem;
        margin:0.5rem;
        border-radius: 5px;

    }
    .checkout .display-order .grand-total{
        width:90%;
        background: var(--pink);
        color:white;
        cursor: pointer;
    }